<html>  
  
<head>  
<title>About</title>  

<link rel="stylesheet" href="/css/styles.css">  
</head>  
  
<body>  
<div class="main-content">  
{{>header}}  
<p>By using this website you agree that nothing contained on the website should be considered as, or used as a substitute for, medical advice, diagnosis or treatment.

Additionally you agree that you are aware that some of the activities demonstrated on this site involve certain risks including but not limited to heart attack, stroke,
 injury to bones, joints, or muscles, serious spinal and neck injuries resulting in complete or partial paralysis. You are voluntarily participating in mentioned activities with full knowledge of the involved dangers and hereby agree to accept any and all inherent risks of injury, property damage or death.

This accepts no liability for injury resulting from using the site and you agree that musclewiki.com, its owners and associates are not responsible for any loss of property, injury or death relating to your use of musclewiki.com services. Finally, you agree that MuscleWiki, its owners or associates shall have no liability to you under any interpretation of law, liability or indemnity in relation with your use of MuscleWiki's Services or Products.</p>
</div>  
  
{{>footer}}  
</body>  
  
</html>