<html>  
  
<head>  
<title>Nutrition</title>  

<link rel="stylesheet" href="/css/styles.css">  
</head>  
  
<body>  
<div class="main-content">  
{{>header}}  
<p><b>Diet Plans:-</b></p><br>
    For Bulking<br>
Meal 1: Mass gaining shake<br>
Meal 2: Rice + 1 Protein roti + 1 Normal roti + 1 Cup dal<br>
 The Workout<br>
Meal 3: Mass gaining shake (Similar to meal 1)<br>
Meal 4: 2 Protein Roti + 200 gm Curd + 1 Cup dal<br>
Meal 5: 1 Protein Roti + 30 gm Peanut butter + 250 ml double toned Milk<br><br>
video link - https://youtu.be/u0fT2aAs7mQ

    
     
</p>
</div>  
  
{{>footer}}  
</body>  
  
</html>