<html>  
  
<head>  
<title>Workout</title>  

<link rel="stylesheet" href="/css/styles.css">  
</head>  
  
<body>  
<div class="main-content">  
{{>header}}  
<p><b>MUSCLE BUILDING PROGAMS :-</b>
    <br>
<br>

    There’s one workout routine that I go back to a few times a year when I feel I need to break past a plateau and build more muscle.
<br>
<br>
It’s the Push-Pull-Legs workout.
<br>
<br>
Chance are you’ve heard of this workout, but I’m going to give you a completely new way approach to this training style. So get ready, because this is gonna be intense! 
<br>
<br>
I’m also going to give you 2 routines for this workout method:
<br>
<br>
3-day basic push-pull-legs routine
6-day advanced push-pull-leg routine
<br>
<br>
Before we dive into the workout, let’s cover the basics of what the push-pull legs routine is.
<br>
<br>

Push Day Workout: Chest, shoulders, and triceps
Pull Day Workout: Back and biceps
Leg Day Workout: Well, this one’s pretty obvious…legs
Since you’re working multiple muscles in each workout, you won’t be doing as many exercises for those muscle groups. Of course, legs are an exception as all of us usually have a full workout dedicated to just legs (and rightfully so!). 
<br>
<br>

Because of this, you can expect to spend a little more time in the gym. I recommend that you give yourself at least an hour for each workout.
<br>
<br>

Now let’s get into your routines. I’ll first go over the basic 3-day routine and then we’ll get into the advanced 6-day routine.
</p>
</div>  
  
{{>footer}}  
</body>  
  
</html>